
.chamada-banner{
    color: coral;
    background-color: rgba(0,0,0,0.2);
   font-size: 200%;
   font-family: 'Vidaloka', serif;
    
}

.culinaria{
    color: coral !important;
    font-family: 'Vidaloka', serif;
    
}

p.depoimento{
    color: coral ;
   
}

.preto {
    color: black !important;
}

.branco {
    color:#FFF !important;
}

form{
    background-color: #FFF;
    padding: 100px;
}

.cardapioDiario h2{
    font-family: 'Vidaloka', serif;
}

.fundoBranco{
    background-color: #FFF;
}

p.escrita{
    font-style: italic;
    line-height: 150%;
}

h1.depoimento, h2.depoimento{
    font-family: 'Vidaloka', serif;
}

.items{
    font-size: 150%;
   font-family: 'Vidaloka', serif;
}

.uk-card-salmao{
    background-color: rgb(255, 234, 226);;
}

.uk-button-salmao{
    background-color: #fda787;
    color: #FFF !important;
}

.uk-button-salmao:hover{
    background-color: rgb(255, 234, 226);;
    color: #fda787 !important;
}


.uk-button-salmao-redondo{
    background-color: #FFF;
    color: coral !important;
    border-radius: 100px;
}

.uk-button-salmao-redondo:hover{
    background-color: rgb(255, 234, 226);;
    color: #fda787 !important;
}

.caixaBanner{
    width: 100%;
    height: 30%;
}

.half-circle-line {
    position: absolute;
    top: 100%;
    margin-top: -40px;
    width: 100%;
    z-index: 5;
    text-align: center;
}

.half-circle-line svg g > * {
    fill: #fff;
    stroke: #fff;
}

*{
    list-style-type: none;
}

.cardapioDiario{
    border: 1px solid coral;
    border-radius: 5px;
    background-color: #FFF
}

.uk-button-default.uk-active{
    background-color: coral !important;
    color: #FFF;
}

#oquefaremos button{
    background-color: #FFF;
    border: 1px solid coral;
    height: 50px;
}

.desconto{
    background-color: rgba(233, 150, 122, 0.75);
}

.uk-grid{
    margin: 0px;
}

